body{
font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;

}
input {
    font-size: 25px;
    border:black solid 2px;
    width: 230px;
    height: 33px;
}
#button{
    position:absolute;
    top: 34px;
    left: 248px;
}
#numbers{
    position:absolute;
    top: 60px;
    font-size: 20px;
}
span{
    color: red;
}

